# dependencies
node_modules

# next app
.next

# service worker
sw.js
workbox*.js

# env
.env
.env.local

# typescript
*.tsbuildinfo

# graphql types generation
src/generated

# introspection file
graphql.schema.json

# graphql schema
schema.graphql

# vercel
.vercel

# storybook
storybook-static

